.ProtocolResults{
    margin-top: 38px;
}

.ProtocolName{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
}

.Info{
    display: flex;
    gap: 0 5px;
    
}

.InfoName{
    font-weight: 700;
   
}

.Complaints{
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 54px;
    
}