.table {
  box-sizing: border-box;
  margin-left: 20px;
  font-family: 'SF';
}

.grid {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 63px 0;
}

.grids{
  position: absolute;
}

.flex{
  display: flex;
}

.timeStamps{
  display: flex;
  
  margin-bottom: 30px;
}

.hBlock {
  margin-top: 3px;
  background-color: #F6F6F6;
  height: 77px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 45px;
  padding-left: 25px;
  width: 100%;
}

.Block{
  width: 1229px;
  height: 80px;
}


.hBlock:hover{
  background-color: #C9FFFF;
  .GrayCircle{
    background-color: #FFFFFF;
  }
}
.Block:nth-child(1) {
  margin-top: 37px;
}
.timeStamp:nth-child(1) {
  margin-top: 30px;
}
.timeStamp {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: -0.41px;
  color: rgba(0, 0, 0, 1);

  background-color: transparent;
  

 

}

.hTimeLine {
  display: block;
  width: 100%;
  border-top: #0000004D 1px solid;
  margin-top: 5px;
  margin-left: 43px;
  
}



.vLines {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.vBlock:nth-child(1) {
  margin-left: 245px;
}


.vBlock {
  display: block;

  border-left: rgba(236, 49, 49, 0.5) 1px solid;
  width: 1px;
  height: calc(767px + 9px);
  margin-left: 400px;
  
}



.realTimeLine {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

  width: 1344px;
  transform: translateY(36px);
}

.realTime {
  display: flex;
  align-items: center;

  color: rgba(221, 0, 0, 1);

  width: 32px;
  height: 22px;

  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.41px;

  z-index: 1;

  
}

.rtlCircle {
  display: block;
  width: 5px;
  height: 5px;
  background-color: rgba(221, 0, 0, 1);
  border-radius: 50%;

  margin-left: 10px;
}

.rtLine {
  display: block;
  border: rgba(221, 0, 0, 1) 1.5px solid;
  width: 100%;
  height: 0;
  transform: translateX(-2px);
}

.GrayCircle{
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-color: #D9D9D9;
}


.usersArea {
  position: absolute;
  margin-top: 1000px;
  margin-left: 50px;
  margin-bottom: 50px;
  width: 400px;
}

.butGetUsers {
  height: 50px;
  font-size: 30px;
}

.usersData {
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 20px;
  line-height: 25px;
  width: fit-content;
  height: fit-content;
}
















